/.metadata/
/Java/ManejoColecciones/nbproject/private/
/Java/ManejoColecciones/build/
/Java/ClasesGenerixas/nbproject/private/
/Java/ClasesGenerixas/build/
/Java/ApiColecciones/nbproject/private/
/Java/ApiColeccionesGenericas/nbproject/private/
/Java/ApiColeccionesGenericas/build/
/Java/ManejoArchivos/nbproject/private/
/Java/ManejoArchivos/build/
/Java/CatalagoPeliculas/nbproject/private/